<!DOCTYPE html>
<html lang="en">
  {% extends "base.html" %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} Home {% endblock %}</title>
  </head>

  <body>
    {% block content %} 
    {% load static %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide pb-5">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static '/images/banner.png' %}"
            class="d-block w-100"
            alt="..."
          />
          <div
            class="carousel-caption d-flex w-100 h-100 align-items-center justify-content-center text-white"
          >
            {% comment %} <p class="w-100 bg-black opacity-75 fs-2">{{ current_time }}</p> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center">Features Books</h1>
    <div class="container-fluid text-center">
      <div class="row row-1 pt-5">
        <div class="col-lg-5 offset-lg-1">
          <p class="fs-2 text-black text-md-start">Take a Look</p>
        </div>
        <div class="col-lg-3 offset-lg-3 pt-3">
          <a class="text-danger" href="{% url 'products' %}">VIEW ALL BOOKS ></a>
        </div>
        <hr class="hr-1 mx-auto border-2" />
      </div>
      <div class="row row-2 justify-content-center gap-3">
        {% for book in books %}
        {% if forloop.counter <= 3 %}  
        <div class="col-lg-3 col-md-4">
          <div class="col d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img style="height:350px; !important"
                src="/media/{{ book.image }}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="row">
                  <div class="col-6 text-start">
                    <a class="text-decoration-none fs-5" href="/media/{{ book.file }}" target="_blank"
                      >{{ book.title }}</a
                    >
                  </div>
                  <div class="col-6 text-end">
                    {% if user.is_authenticated %}
                        <form action="{% url 'addToFvrt' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="title" value="{{ book.title }}" style="display: none" />
                            <input type="text" name="username" value="{{ user.username }}" style="display: none" />
                            <button type="submit" style="background-color: white; !important; border: none; !important"><i class="fa fa-diamond" style="font-size: 18px"></i></button>
                        </form>
                    {% endif %}
                  </div>
                </div>
                <p class="card-text text-start">{{ book.author }}</p>
                <form action="{% url 'rate' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="title" value="{{ book.title }}" style="display: none" />
                    <input
                    class="rating"
                    max="5"
                    oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                    step="0.5"
                    style="--value: {{ book.rating }}"
                    type="range"
                    name="rating"
                    value="{{ book.rating }}"
                    {% if user.is_authenticated != True %}
                        disabled
                    {% endif %}
                    required
                    />
                    {% if user.is_authenticated %}
                    <input type="submit" class="form-control btn" style="background-color: #c7a17a; !important" id="send"
                        value="Rate">
                    {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        
        <div class="col-lg-3 col-md-4"></div>
      </div>
    </div>

    <div class="container-fluid pb-5">
      <div class="row justify-content-center gap-3">
        <div class="col-lg-9">
          <h1>About Book Shelfs</h1>
        </div>
      </div>
      <hr class="mx-auto border-2 bg-black hr-2" />
      <div class="row justify-content-center">
        <div class="col-md-5 offset-md-1">
          <h5 class="text-primary">
            Looking for the best recommended books to read?
          </h5>
          <p>
            Bookshelfs is an online reading website any one can read the books
            that we add, feel free to register and be one of our family.
          </p>
          <p>
            We are a group majoring in Cyber security, we made this website as a
            final project for cs314 course.
          </p>
          <ul class="b">
            <li>learn about our added books</li>
            <li>If you have any considerations or suggestions contact us</li>
            <li>Login or register</li>
          </ul>
          <button type="button" class="btn btn-danger">
            Read More About Us
          </button>
        </div>
        <div class="col-md-5">
          <img
            src="{% static 'images/about-img.jpeg' %}"
            width="80%"
            class="img-fluid"
            alt="Books Image"
          />
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="alert alert-light" role="alert">
            <h5 class="text-primary">Share your quote with us</h5>
            <div class="row">
              <div class="col-6">
                <p>From here you can share quote that inspires you.</p>
              </div>
              <div class="col-6 text-end">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#addQouteModal"
                >
                  Add Quote
                </button>
                <button type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#viewQouteModal">
                  View Available Quotes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    {% endif %} 
    {% if message %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    
    {% endblock %}
  </body>
</html>
