<!doctype html>
<html lang="en">
    {% extends "base.html" %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
        Login
      {% endblock %}</title>
</head>

<body>
    {% block content %}
    {% load static %}


    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/banner-cnt.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex w-100 h-100 align-items-center justify-content-center text-white ">
                    <h1 class="fs-1"
                        style="color: white; font-size: 12rem !important; text-shadow: 8px 0 0 #c7a17a, -1px 0 0 #c7a17a;">
                        Login</h1>
                </div>
            </div>
        </div>
    </div>
    {% if message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="container-fluid text-center py-5">
        <div class="col-4 offset-md-4 rounded" style="background-color: #c7a17a; padding: 3rem; opacity: 0.90;">
            <h1>Login</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="username" class="form-control" id="name" name="username"
                        placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="email" name="password"
                        placeholder="Password" required>
                </div>
                <div class="mb-3">
                    <input type="submit" class="form-control btn btn-dark" id="send"
                        value="Login">
                </div>
            </form>
        </div>
    </div>

    {% endblock %}

</body>

</html>